<form [formGroup]="changePassForm">
  <div class="container align-self-center">

     <div class="row">
        <mat-form-field class="col mr-2 mt-3">
           <mat-label>Nova Senha</mat-label>
           <input matInput type="password" placeholder="Digite a nova senha" formControlName="newPass" autocomplete="off">
           <mat-error *ngIf="changePassForm.get('newPass').invalid && changePassForm.get('newPass').touched">{{ getPassError('newPass') }}</mat-error>
        </mat-form-field>
     </div>

     <div class="row">
        <mat-form-field class="col mr-2 mt-3">
           <mat-label>Digite novamente</mat-label>
           <input matInput type="password" placeholder="Digite a nova senha" formControlName="newPass2" autocomplete="off">
           <mat-error *ngIf="getForm('newPass2').invalid && getForm('newPass2').touched">{{ getPassError('newPass2') }}</mat-error>
           <!-- <mat-error *ngIf="changePassForm.get('newPass2').invalid && changePassForm.get('newPass2').touched">{{ getPassError('newPass2') }}</mat-error> -->
        </mat-form-field>
     </div>

     <div class="row mt-2">
        <button type="submit" class="btn btn-sm btn-primary float-right" (click)="onSubmit()" [disabled]="validForm">
           <fa-icon [icon]="faSave" size="md"></fa-icon>&nbsp;&nbsp;Salvar
        </button>
        <button type="submit" class="ml-4 btn btn-sm btn-danger float-right" (click)="onClose()">
           <fa-icon [icon]="faWindowClose" size="md"></fa-icon>&nbsp;&nbsp;Cancelar
        </button>
     </div>

  </div>
</form>

