.fs-12-bold {font-family: "Source Sans Pro",sans-serif;color: #656565;font-size: 12px;font-weight: 700;}
.fs-12 {font-family: "Source Sans Pro",sans-serif;color: #656565;font-size: 12px;font-weight: normal}
.vr-title-info{font-family: "Source Sans Pro",sans-serif; color: #656565;}
.w-100px{width: 100px;}
.vr-flex{display: flex;}