.fs-12 {font-family: "Source Sans Pro",sans-serif;color: #656565;font-size: 12px;font-weight: 700;}
.center-div{display: flex;align-items: center;justify-content: left;}
.fs-075{font-size: 75%;}
.table-ajuste{color: #656565;}
.vr-title-info{font-family: "Source Sans Pro",sans-serif; color: #656565;}
.table-ajuste td{padding: .75rem;vertical-align: inherit;border-top: 1px solid #dee2e6;}