.fs-12 {font-family: "Source Sans Pro",sans-serif;color: #656565;font-size: 12px;font-weight: 700;}
.center-div{display: flex;align-items: center;justify-content: left;}
.fs-075{font-size: 75%;}
.table-ajuste{color: #656565;}

.table-ajuste thead{background-color: #563d7c;color: #fff;}
.table-ajuste td{padding: .1rem !important;vertical-align: inherit;border-top: 1px solid #dee2e6;}
.table-striped tbody tr:nth-of-type(odd) {background-color: #eaeaef;}