/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~ngx-toastr/toastr';
// @import '~ngx-toastr/toastr-bs4-alert';

/* S C R O L L PAGE*/
/* width */
::-webkit-scrollbar {width: 5px;}
/* Track */
::-webkit-scrollbar-track {background: #f1f1f1; border-radius: 10px;}
/* Handle */
::-webkit-scrollbar-thumb {background: #888; border-radius: 10px;}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover { background: #555; }

.bg-rock{background: linear-gradient(to right,#563d7c 0%, #242939 100%); }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

app-login .mat-form-field.mat-focused .mat-form-field-label{color: #fff !important; }
app-login .mat-form-field-label{color: #fff !important; }
app-login .mat-form-field-appearance-outline .mat-form-field-outline-thick {opacity: 0;color: #fff;}
app-login .mat-form-field-appearance-outline .mat-form-field-outline-thick {opacity: 1 !important;color: #fff !important;}
app-login .mat-form-field {display: unset !important ;position: relative;text-align: left;}

app-page-cadastro .mat-form-field-label{color: #563d7c !important; }

// CHECKBOX
.mat-checkbox-checked.mat-accent .mat-checkbox-background{background-color: #563d7c ;}

// DIALOG
app-page-usuario .k-dialog {padding: 0;position: fixed;box-sizing: border-box;border-radius: 5px;}
.k-dialog-titlebar {border-color: inherit;color: #fff;background: linear-gradient(to right, #563d7c 0%, #242939 100%);}
.k-dialog-wrapper {overflow-y: auto;display: -webkit-box !important;z-index: 1000 !important;}